@import url(http://fonts.googleapis.com/css?family=Gentium+Basic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Alegreya&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);

body {
	color: #333;
	background: #eee;
	margin: 0;
	padding: 0;
}


div.zivljenjepis  {

	width: 100%;
	background-image: url("images/noiseWhite.jpg");
	background-repeat: repeat;	
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #666;
	background-blend-mode: screen; 
}

div.odlomki_00  {

	width: 100%;
	background-image: url("images/qwerty.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right top;	
	padding-top: 100px;
	padding-bottom: 30px;
	background-color: #ccc;
	background-blend-mode: screen; 
}


div.odlomki_01  {

	width: 100%;
	background-image: url("images/noiseWhite.jpg");
	background-repeat: repeat;	
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #699;
	background-blend-mode: screen; 
}


div.header-text {

	margin: auto;

} 






div.header  {

	background-image: url("images/modriStrojSmall.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right top;


	width: 100%;
/*	background: url("images/noise.png"); 
	background-repeat: repeat;	*/
	padding-top: 250px;
	padding-bottom: 250px;
	/* #FE6F5E je lepa rdeče-oranžna barva */
	background-color: #2299ee;
	background-blend-mode: screen; 
}

h1.header-title  {

	text-align: center;
	/* min-width: 500px; */
	color: #111;
       	font-family: 'Bilbo Swash Caps', cursive; 
       	font-size: 100px;
       	font-weight: 400;
	margin: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	letter-spacing: 3px;
}

h2.header-subtitle {

/*	font-family: 'Gentium Basic', serif; */
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;

	max-width: 900px;
	margin: auto;	
	margin-bottom: 3px;
	text-align: center;
	line-height: ;	
	color: #333;
	text-transform: uppercase;
}


h2.podnaslov {

	max-width: 900px;
	text-align: center;
	/* min-width: 500px; */
	color: #333;
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 70px;
	font-weight: 400;
	margin: auto;
	margin-bottom: 70px;
	letter-spacing: 0px;
	/* text-transform: uppercase; */
}
h3.podnaslov {

	max-width: 900px;
	text-align: left;
	/* min-width: 500px; */
	color: #333;
	font-family: 'Gentium Basic', serif;
	font-size: 30px;
	font-weight: 400;
	margin: auto;
	margin-bottom: 20px;
	letter-spacing: 2px;

	/* text-transform: uppercase; */
}

h2.kontakt {

	max-width: 900px;
	text-align: center;
	/* min-width: 500px; */
	color: #333;
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 70px;
	font-weight: 400;
	margin: auto;
	margin-bottom: 80px;
	letter-spacing: 0px;
	/* text-transform: uppercase; */
}


div.text {
	
	font-family: 'Gentium Basic', serif;
	font-size: 20px;
	font-weight: 400;

	max-width: 900px;
	margin: auto;	
	margin-bottom: 30px;
	text-align: justify;
	line-height: 35px;	
	color: #333;
}


/* kontakt css */

div.kontakt-main { 

	background-image: url("images/qwerty.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;	
	padding: 100px 0px 150px;
	background-color: #FE6F5E; 
	background-blend-mode: screen; 
	background-position: right bottom;

}

div.kontakt-ovoj {
	
	font-family: 'Gentium Basic', serif;
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	width: 800px;
	margin: auto;
}

  
div.kontakt-levo {

	width: 49%;
	text-align: center;
	display: inline-block;
	color: #333;
}
div.kontakt-desno {

	width: 50%;
	text-align: center;
	display: inline-block;
	color: #333;

}


.circular {
	width: 300px;
	height: 300px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background: url(images/DSC05191-polaroid_small.jpg) no-repeat;
	background-size: 300px 300px;

	margin: auto;
	
	}




::selection {
	  background: #ffb7b7; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
	  background: #ffb7b7; /* Gecko Browsers */
	}	


/* both H1 titles and div.text should be smaller when browser reaches a certain small size */ 


